/* src/styles/global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;



/* === Hotel-Schrift lokal einbinden (Playfair Display) === */
@font-face {
  font-family: 'HotelDisplay';
  src: url('../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HotelDisplay';
  src: url('../assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

