

@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional: eigene globale Styles */
body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

.container-main {
  @apply max-w-6xl mx-auto px-4;
}